# Keep IntelliJ files out of github to reduce potential conflicts when others import.

.idea
core.iml
_site
.jekyll-cache
.DS_Store
*.md~
morea/bernoulli/.\#experience-bernoulli-problems (DESKTOP-CC4GNC0's conflicted copy 2023-08-20 1).md
morea/bernoulli/.\#experience-bernoulli-problems (DESKTOP-CC4GNC0's conflicted copy 2023-08-20 2).md
morea/bernoulli/.\#experience-bernoulli-problems (DESKTOP-CC4GNC0's conflicted copy 2023-08-20 3).md
morea/bernoulli/.\#experience-bernoulli-problems (DESKTOP-CC4GNC0's conflicted copy 2023-08-20 4).md
morea/bernoulli/.\#experience-bernoulli-problems (DESKTOP-CC4GNC0's conflicted copy 2023-08-20 5).md
morea/bernoulli/.\#experience-bernoulli-problems (DESKTOP-CC4GNC0's conflicted copy 2023-08-20).md
morea/sets-logic-func/\#reading-slf-lec.md\#
